[submodule "JS"]
	path = JS
	url = https://github.com/YovanggaAnandhika/DKAJSFramework.git
[submodule "PHP"]
	path = PHP
	url = https://github.com/YovanggaAnandhika/DKAPHPFramework.git
[submodule "ANDROID"]
	path = ANDROID
	url = https://github.com/YovanggaAnandhika/DKAAndroidFramework.git
[submodule "C#"]
	path = "C#"
	url = https://github.com/YovanggaAnandhika/DKACHastagFramework.git
[submodule "ASP"]
	path = ASP
	url = https://github.com/YovanggaAnandhika/DKAASPFramework.git
[submodule "PYTHON"]
	path = PYTHON
	url = https://github.com/YovanggaAnandhika/DKAPythonFramework.git
