<!DOCTYPE html>
<html lang="en">

<head>
    <base href="./landing/">

</head>
<body>
<video class="video" autoplay></video>
</body>
<script src="https://apis.google.com/js/client.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="./app.js"></script>
</html>


