<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <br>
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="/dashboard">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Ikhtisari</span>
                </a>

            </li>
            <br>
            <li class="nav-item"> &nbsp; &nbsp; &nbsp; Layanan</li>
            <br>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder"><i class="anticon anticon-form"></i></span>
                    <span class="title">Survey</span>
                    <span class="arrow"><i class="arrow-icon"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="app-chat.html">Ringkasan</a>
                    </li>
                    <li>
                        <a href="app-file-manager.html">Sesi Wawancara</a>
                    </li>
                    <li>
                        <a href="app-mail.html">Rilis</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder"><i class="anticon anticon-global"></i></span>
                    <span class="title">Jaringan Kampanye</span>
                    <span class="arrow"><i class="arrow-icon"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="app-chat.html">Ringkasan</a>
                    </li>
                    <li>
                        <a href="app-file-manager.html">Sesi Wawancara</a>
                    </li>
                    <li>
                        <a href="app-mail.html">Rilis</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder"><i class="anticon anticon-line-chart"></i></span>
                    <span class="title">Medsos Broadcast</span>
                    <span class="arrow"><i class="arrow-icon"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="app-chat.html">Ringkasan</a>
                    </li>
                    <li>
                        <a href="app-file-manager.html">Sesi Wawancara</a>
                    </li>
                    <li>
                        <a href="app-mail.html">Rilis</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder"><i class="anticon anticon-reload-time"></i></span>
                    <span class="title">Hitung Cepat</span>
                    <span class="arrow"><i class="arrow-icon"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="app-chat.html">Ringkasan</a>
                    </li>
                    <li>
                        <a href="app-file-manager.html">Sesi Wawancara</a>
                    </li>
                    <li>
                        <a href="app-mail.html">Rilis</a>
                    </li>
                </ul>
            </li>
            <br>
            <li class="nav-item"> &nbsp; &nbsp; &nbsp; Peralatan</li>
            <br>
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="anticon anticon-paper-clip"></i>
                    </span>
                    <span class="title">Artikel</span>
                </a>

            </li>
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="/dashboard/peralatan/maps">
                    <span class="icon-holder">
                        <i class="anticon anticon-heat-map"></i>
                    </span>
                    <span class="title">Peta</span>
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder"><i class="anticon anticon-database"></i></span>
                    <span class="title">Big Data</span>
                    <span class="arrow"><i class="arrow-icon"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="app-chat.html">Ringkasan</a>
                    </li>
                    <li>
                        <a href="app-file-manager.html">Sesi Wawancara</a>
                    </li>
                    <li>
                        <a href="app-mail.html">Rilis</a>
                    </li>
                </ul>
            </li>
            <br>
            <li class="nav-item"> &nbsp; &nbsp; &nbsp; Sistem</li>
            <br>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder"><i class="anticon anticon-user"></i></span>
                    <span class="title">User</span>
                    <span class="arrow"><i class="arrow-icon"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="app-chat.html">Ringkasan</a>
                    </li>
                    <li>
                        <a href="app-file-manager.html">Sesi Wawancara</a>
                    </li>
                    <li>
                        <a href="app-mail.html">Rilis</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder"><i class="anticon anticon-project"></i></span>
                    <span class="title">Project</span>
                    <span class="arrow"><i class="arrow-icon"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="app-chat.html">Ringkasan</a>
                    </li>
                    <li>
                        <a href="app-file-manager.html">Sesi Wawancara</a>
                    </li>
                    <li>
                        <a href="app-mail.html">Rilis</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>